
body{
    background: url(images/background.jpg);
    background-size: cover;
    background-position: center;
}

html{
    height: 100%;
}

h1{
    /* text-align: center;
    margin: 250px auto;
    font-family: 'Lobster Two', cursive;
    font-size: 5rem;
    color: white; */
}
